<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Jimmy Pizza System - System Administration - Orders</title>
    <link rel="icon" href="/images/favicon.png">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;500&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css"
          integrity="sha512-KfkfwYDsLkIlwQp6LFnl8zNdLGxu9YAA1QvwINks4PhcElQSvqcyVLLD9aMhXd13uQjoXtEKNosOWaZqXgel0g=="
          crossorigin="anonymous" referrerpolicy="no-referrer"/>
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
<header th:replace="fragments/header :: header"></header>
<main>
    <h1>New Order</h1>
    <div style="border: 1px solid;padding: 1em;">
        <div>
            Fields marked with asterisk (*) are required.
        </div>
        <form method="post" action="/pizzamgm/api/v1/orders/add" th:object="${order}" >
            <fieldset>
                <br>
                <div>
                    <label>Order Date: </label><p th:text="${#temporals.format(order.getOrderDate(), 'MM/dd/yyyy HH:mm')}"></p>
                </div>
                <br>
                <div>
                    <label>Order Status*</label>
                </div>
                <div>
                    <select name="status" th:value="*{getStatus()}">
                        <option th:value="'REQUESTED'" th:text="REQUESTED"></option>-->
                        <option th:value="'IN-PROGRESS'" th:text="IN-PROGRESS"></option>
                        <option th:value="'OUT-OF-DELIVERY'" th:text="OUT-OF-DELIVERY"></option>
                        <option th:value="'DELIVERY'" th:text="DELIVERY"></option>
                        <option th:value="'CANCELED'" th:text="CANCELED"></option>
                    </select>
                </div>
                <br>
                <div>
                    <label>Total Price*</label>
                </div>
                <div>
                    <input name="totalPrice" type="text" th:value="*{getTotalPrice()}">
                </div>
                <br>
            </fieldset>
            <fieldset>
                <br>
                <div>
                    <h3>Order Lines*</h3>
                </div>
                <br>
                <div class="table-responsive update-orderLine">
                    <table>
                        <thead>
                        <tr>
                            <th>Pizza Name</th>
                            <th>Pizza Type</th>
                            <th>Pizza Size</th>
                            <th>Quantity</th>
                            <th>Item Price</th>
                            <th>Total Price Items</th>
                            <th>
                                <button type="button" name="addOrderLine" data-update-orderLine-url="/addOrderLine"
                                >Add Item</button>
                            </th>
                        </tr>
                        </thead>
                        <tbody id="tblOrderLine">
                        <tr th:each="orderLine, counter : ${order.getOrderLines()}">
                            <td>
                                <select name="name" th:value="${order.getOrderLines().get(__${counter.index}__).pizza().name()}">
                                    <option th:each="pizza : ${allPizzas}"
                                            th:value="${pizza.name()}"
                                            th:text="${pizza.name()}">
                                    </option>
                                </select>
                            </td>
                            <td>
                                <select name="type" th:value="${order.getOrderLines().get(__${counter.index}__).pizza().type()}">
                                    <option th:each="pizza : ${allPizzas}"
                                            th:value="${pizza.type()}"
                                            th:text="${pizza.type()}">
                                    </option>
                                </select>
                            </td>
                            <td>
                                <select name="size" th:value="${order.getOrderLines().get(__${counter.index}__).pizza().size()}">
                                    <option th:each="pizza : ${allPizzas}"
                                            th:value="${pizza.size()}"
                                            th:text="${pizza.size()}">
                                    </option>
                                </select>
                            </td>
                            <td>
                                <input name="quantity" type="number" th:value="${order.getOrderLines().get(__${counter.index}__).quantity()}"/>
                            </td>
                            <td>
                                <input th:value="${#numbers.formatCurrency(order.getOrderLines().get(__${counter.index}__).pizza.price())}"/>
                            </td>
                            <td th:text="${#numbers.formatCurrency(order.getOrderLines().get(__${counter.index}__).price())}"></td>
                            <td>
                                <div>
                                    <button type="button" name="removeOrderLine" th:value="${counter.index}" data-update-orderLine-url="/removeOrderLine">Remove Item</button>
                                </div>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>

                <br>
            </fieldset>
            <div style="margin-top: 1em;">
                <a class="std-lnk-btn" href="/pizzamgm/api/v1/orders/list">Cancel</a>
                <input class="std-btn" type="reset" value="Reset">
                <input th:if="${order.getOrderLines()!= null} and ${order.getTotalPrice()!= null} and ${order.getTotalPrice()> 0}"
                       class="std-btn" type="submit" value="Add Order">
            </div>
        </form>
    </div>
</main>
</body>
</html>