<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Jimmy Pizza System - System Administration - Customers</title>
    <link rel="icon" href="/images/favicon.png">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;500&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css"
          integrity="sha512-KfkfwYDsLkIlwQp6LFnl8zNdLGxu9YAA1QvwINks4PhcElQSvqcyVLLD9aMhXd13uQjoXtEKNosOWaZqXgel0g=="
          crossorigin="anonymous" referrerpolicy="no-referrer"/>
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
<header th:replace="~{fragments/header :: header}"></header>
<nav th:replace="~{fragments/navbar :: navbar}"></nav>
<main>
    <h1>System Administration</h1>
    <nav>
        <a href="/pizzamgm/api/v1/orders/list">Manage Pizza Orders</a> |
        <a href="/pizzamgm/api/v1/customers">Manage Customers</a> |
        <a href="/pizzamgm/api/v1/pizzas">Manage Pizzas</a>
    </nav>
    <h2>List of our Customers</h2>
    <br>
    <div>
        <p><a href="/pizzamgm/api/v1/customers/new">Add New Customer</a></p>
    </div>
    <table class="data-grid">
        <thead>
        <tr>
            <th>#</th>
            <th>First Name</th>
            <th>Last Name</th>
            <th>Phone Number</th>
            <th>Email</th>
            <th>BirthDate</th>
            <th>Address</th>
            <th></th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="customer, counter : ${customers}">
            <th th:text="${customer.customerId()}"></th>
            <th th:text="${customer.firstName()}"></th>
            <td th:text="${customer.lastName()}"></td>
            <td th:text="${customer.phoneNumber()}"></td>
            <td th:text="${customer.email()}"></td>
            <td th:text="${customer.birthDate()}"></td>
            <td th:text="${customer.address().street()+ ' - ' + customer.address().city() + ' - ' + customer.address().state()}"></td>
            <td><a th:href="@{'/pizzamgm/api/v1/customers/edit/{customerId}'(customerId=${customer.customerId()})}">Edit</a></td>
            <td><a th:href="@{'/pizzamgm/api/v1/customers/delete/{customerId}'(customerId=${customer.customerId()})}">Delete</a></td>
        </tr>
        </tbody>
    </table>
</main>
<footer th:replace="fragments/footer :: footer"></footer>
</body>
</html>